
body {
    background-image: url(./assets/covid-wall.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

#mapid { height: 500px; }

header  {
    color: white;
    font-size: 18px;
}


p {  
    color: white;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
}

h3 {
    color: rgb(18, 167, 187);
    font-size: 18px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

h4 {
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}


a {
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}



li {
    color: white;
    text-align: left;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
}


/*#chartdiv{
 
   margin-left: auto;
   margin-right: auto;
   display: block;
   padding: 300px;
   height: 500px;
}

#main, #world-stats {
    margin: auto;
    width: 500px;
    max-width: 100%;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}


#globalMap, #usMap , #trends {
    background-color: rgb(117, 117, 117);
    font-family: 'Fira Sans', sans-serif;
    color: rgb(39, 39, 39);
    margin: auto;
    text-align: center;
}



#region {
    background-color: rgba(243, 243, 243, 0.5);
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}




/*news.html*/


.col.s12  .btn {
    width: 100%;
 }


 .input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}


#searchBtn {
    background-color: rgba(243, 243, 243, 0.5);
    color: black;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 12px;
    width: 20%;
}


 #learn-more,#globalMap, #usMap , #trends {
    background-color: rgba(243, 243, 243, 0.5);
    color: black;
    font-family: 'Fira Sans', sans-serif;
    /* margin-left: 15px; */
    margin-bottom: 20px;
    font-size: 12px;
    width: 90%;
}
 #learn-more:hover,#searchBtn:hover,#globalMap:hover, #usMap:hover , #trends:hover {
    background-color: rgba(43, 43, 43, 0.8);
    color: white;

}


#health {
    font-size: 12px;
}

#health:hover {
    font-size: 15px;
}


.tabs .tab a:focus, .tabs .tab a:focus.active {
    color: transparent;
    background-color: transparent;
}
  

.tabs .indicator {
    background-color: rgb(168, 6, 6);
}

.card-content {
    background-color: rgba(12, 12, 12, 0.904);
}

/* news block toggle */
#newsBlock {
    display: none;
}

.read{
    font-size: 12px;
    background-color: rgba(243, 243, 243, 0.5);
    padding: 10px;
    color: black;
    font-family: 'Fira Sans', sans-serif;
}

.read:hover {
    background-color: transparent;
    color: white;
   
}

.newsTitles {
    border-top: solid 0.5px rgba(131, 131, 131, 0.315);
    padding-top: 30px;
}

.newsByline {
    color: rgb(77, 76, 76);

}

.abstract{ 
    color: white;
  
}

/*Map*/

#mapid { height: 500px; }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#color {
    width: 140px; 
    height: 140px; 
    margin: auto; 
    float: right;
    margin-top: 10px;
}