* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./assets/covid-wall.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}



header  {
    color: white;
    font-size: 18px;
}

p {  
    color: white;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    color: white;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

h3 {
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}


h4 {
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}


a {
    color: white;
    font-size: 12px;
    text-align: center;
}


li {
    color: white;
    text-align: left;
    font-size: 14px;
}

.navbar-fixed {
 margin-bottom: 50px;

}

#main, #world-stats {
    margin: auto;
    width: 500px;
    max-width: 100%;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.location {
    color: rgb(39, 39, 39);
}

#globalMap, #usMap , #trends {
    background-color: rgb(117, 117, 117);
    font-family: 'Fira Sans', sans-serif;
    color: rgb(39, 39, 39);
    margin: auto;
    text-align: center;
}

#region {
    background-color: rgba(243, 243, 243, 0.5);
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}


#searchBtn {
    background-color: rgba(243, 243, 243, 0.5);
    color: black;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 12px;
}

/*news.html*/

#infoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

 #learn-more,#globalMap, #usMap , #trends {
    background-color: rgba(243, 243, 243, 0.5);
    color: black;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 12px;
}
 a:hover, #learn-more:hover,#searchBtn:hover,#globalMap:hover, #usMap:hover , #trends:hover {
    background-color: rgba(43, 43, 43, 0.8);
    color: white;
}

#health {
    font-size: 12px;
}

#health:hover {
    font-size: 15px;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    color: transparent;
    background-color: transparent;
}
  

.tabs .indicator {
    background-color: rgb(168, 6, 6);
}

.card-content {
    background-color: rgba(12, 12, 12, 0.904);
}



/*Map*/

#mapid { height: 500px; }

/*#chartdiv{
 
   margin-left: auto;
   margin-right: auto;
   display: block;
   padding: 300px;
   height: 500px;
}